.contact-details {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin: 5% 0;
}

.contact-detail {
  display: flex;
  /* justify-content: space-between; */
  margin: 3%;
  padding: 3%;
}

.contact-detail i {
  font-size: 1.5rem;
  width: 30px;
  text-align: center;
  /* background-color: red; */
}

.contact-detail p {
  text-align: left;
  font-weight: 300;
}

.contact-detail p a {
  font-size: 1rem;
  color: #18293c;
  font-weight: 300;
  text-decoration: none;
}

.contact-detail p a:hover {
  border-bottom: 1px solid #18293c;
}

.contact-detail * {
  margin: 1%;
}

@media (max-width: 400px) {
  .contact-details {
    width: 80%;
  }

  .contact-detail i {
    font-size: 1rem;
    /* text-align: left; */
  }

  .contact-detail p,
  .contact-detail p a {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .contact-detail i {
    font-size: 0.8rem;
    /* text-align: left; */
  }

  .contact-detail p,
  .contact-detail p a {
    font-size: 0.5rem;
  }
}
