.edu-exp {
  /* background-color: red; */
  margin: 2%;
}

.tabs button {
  border: none;
  background-color: transparent;
  margin: 3%;
  font-size: 1.2rem;
  color: #18293c;
  opacity: 0.5;
  cursor: pointer;
  border-color: #18293c;
}

.tabs .active {
  color: #e02f6b;
  opacity: 1;
  border-bottom: 1px solid #e02f6b;
}

.tabs button:hover {
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}
