.home {
  width: 94%;
  min-height: 90vh;
  border-radius: 30px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  margin: 0 3%;
}

.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.home .left h3 {
  font-weight: 200;
  font-size: 1.3rem;
}

.home .left h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
}

.home .left h2 {
  font-weight: 250;
  font-size: 1.6rem;
}

.home .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .right .img-container {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  background-color: rgb(235, 235, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .right img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgb(225, 229, 220);
  border: none;
}

.links {
  padding: 5%;
}

.link {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  width: fit-content;
  padding: 3%;
  cursor: pointer;
  margin: 0 4%;
  border-radius: 20px;
  text-decoration: none;
  color: #e02f6b;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #e02f6b;
  z-index: -1;
  transition: width 0.3s ease;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.link:hover::before {
  width: 100%;
}
