.home {
  width: 94%;
  min-height: 90vh;
  border-radius: 30px;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  margin: 0 3%;
}

.home .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.home .left h3 {
  font-weight: 200;
  font-size: 1.3rem;
}

.home .left h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  /* text-transform: uppercase; */
}

.home .left h2 {
  font-weight: 250;
  font-size: 1.6rem;
}

.home .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home .right .img-container {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  background-color: rgb(235, 235, 228);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .right img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: rgb(225, 229, 220);
  border: none;
}

.links {
  padding: 5%;
}

.link {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  width: fit-content;
  padding: 3%;
  cursor: pointer;
  margin: 0 4%;
  border-radius: 20px;
  text-decoration: none;
  color: #e02f6b;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #e02f6b;
  z-index: -1;
  transition: width 0.3s ease;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.link:hover::before {
  width: 100%;
}

@media (max-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .home .left {
    align-items: center;
  }

  .links {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 5%;
  }

  .link {
    margin: 2% 0;
    width: 150px;
  }
}

@media (max-width: 600px) {
  .home .left h1 {
    font-size: 2rem;
  }

  .home .left h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .home .left h1 {
    font-size: 1.5rem;
  }

  .home .left h2 {
    font-size: 1.2rem;
  }

  .home .left h3 {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .home .left h1 {
    font-size: 1.2rem;
  }

  .home .left h2 {
    font-size: 1rem;
  }

  .home .left h3 {
    font-size: 0.8rem;
  }

  .link {
    width: 100px;
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .home {
    margin-top: 0;
  }
  .home .left h1 {
    font-size: 1rem;
  }

  .home .left h2 {
    font-size: 0.9rem;
  }

  .home .left h3 {
    font-size: 0.7rem;
  }
}

@media (max-width: 350px) {
  .home .left h1 {
    font-size: 0.8rem;
  }

  .home .left h2 {
    font-size: 0.7rem;
  }

  .home .left h3 {
    font-size: 0.6rem;
  }
}

@media (max-width: 500px) {
  .home {
    margin-top: 2%;
  }
  .home .right .img-container {
    width: 240px;
    height: 240px;
  }

  .home .right img {
    width: 225px;
    height: 225px;
  }
}

@media (max-width: 300px) {
  .home .right .img-container {
    width: 200px;
    height: 200px;
  }

  .home .right img {
    width: 180px;
    height: 180px;
  }
}
