.navbar {
  width: 100%;
  height: 5rem;
  position: relative;
  /* position: absolute; */
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  border-radius: inherit;
}

#nav-show {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 23%;
  transition: background-color 0.5s ease-in;
}

.navbar .left,
.navbar .right {
  display: flex;
  border-radius: inherit;
  align-items: center;
  padding-left: 5%;
}

.navbar .left {
  padding-left: 10%;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar .left .nav-link {
  color: #e02f6b;
  opacity: 1;
}

.navbar .left .nav-link {
  border-color: #e02f6b;
}

.navbar .right {
  justify-content: space-evenly;
  font-size: 1rem;
}

.navbar .nav-link {
  text-decoration: none;
  color: #18293c;
  opacity: 0.8;
  border-color: #18293c;
  margin: 1%;
}

.navbar .active {
  color: #e02f6b;
  opacity: 1;
  border-color: #e02f6b;
  border-bottom: 2px solid #e02f6b;
}

.navbar .nav-link:hover {
  border-width: 2px;
  opacity: 1;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media (max-width: 799px) {
  .navbar .right {
    position: absolute;
    right: 10%;
    top: 33%;
  }

  .navbar .right i {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 550px) {
  .navbar .left {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .navbar .left {
    font-size: 0.8rem;
  }
}

@media (max-width: 300px) {
  .navbar .left {
    font-size: 0.7rem;
  }
}
