.contact-me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 3%;
  margin-top: 6%;
  /* background-color: red; */
}

.contact-me h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2%;
}

.contact-me .container {
  padding: 5%;
  padding-top: 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.contact-me .container .right {
  width: 90%;
}

.container .left textarea {
  width: 90%;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 0;
  padding-left: 3%;
  padding-top: 3%;
  font-size: 1rem;
  border-radius: 20px;
  color: #18293c;
}

.container .left input {
  display: block;
  width: 90%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: 3% 0;
  padding-left: 3%;
  font-size: 1rem;
  border-radius: 20px;
  color: #18293c;
}

.container .left input::placeholder {
  color: #18293c;
  opacity: 0.5;
}

.container button {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  width: fit-content;
  padding: 3% 5%;
  cursor: pointer;
  margin: 0;
  margin-top: 4%;
  border-radius: 20px;
  text-decoration: none;
  color: #e02f6b;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.container button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #e02f6b;
  z-index: -1;
  transition: width 0.3s ease;
}

.container button:hover {
  color: rgba(255, 255, 255, 1);
}

.container button:hover::before {
  width: 100%;
}

@media (max-width: 1000px) {
  .contact-me .container {
    grid-template-columns: 1fr;
  }

  .contact-me .container .right {
    width: 60%;
    margin: auto;
  }

  .contact-me h1 {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .contact-me .container .right {
    width: 80%;
    margin: auto;
  }

  .contact-me h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .contact-me .container .right {
    width: 95%;
    margin: auto;
  }

  .contact-me h1 {
    font-size: 1.3rem;
  }
}
