.experience {
  margin: 2%;
  padding: 0 4%;
  border-left: 2px solid #e02f6b;
}

.experience #p {
  color: #e02f6b;
}

.experience #h1 {
  font-size: 1.3rem;
  margin: 0;
}

.experience #h2 {
  font-size: 1rem;
  padding: 0 2%;
  font-weight: 350;
}

.experience #h5 {
  font: 0.9rem;
  font-weight: 300;
  padding: 0 2%;
}

.experience ul {
  margin-left: 7%;
  list-style-type: circle;
  font-size: 0.8rem;
  font-weight: 250;
  text-align: justify;
}
