.about-me {
  /* background-color: red; */
  display: grid;
  width: 94%;
  border-radius: 30px;
  min-height: 90vh;
  grid-template-columns: 2fr 4fr;
  grid-gap: 2%;
  margin: 0 3%;
}

.about-me .left {
  margin: 0 auto;
  margin-top: 30%;
}

.about-me .left img {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 320px;
  border-radius: 10px;
  height: 350px;
}

.about-me .right {
  margin-top: 8%;
  padding: 10% 0;
  padding-top: 5%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
}

.about-me .right h1 {
  padding-left: 2%;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2%;
}

.about-me .right p {
  text-align: justify;
  padding: 2%;
}

.about-me .right p span {
  font-style: italic;
  font-weight: 500;
  margin: 0 0.8%;
}

/* Button Start */

.resume {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: fit-content;
  padding: 1.5%;
  margin: 0 4%;
  border-radius: 20px;
  text-decoration: none;
  color: #e02f6b;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.resume::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #e02f6b;
  z-index: -1;
  transition: width 0.3s ease;
}

.resume:hover {
  color: rgba(255, 255, 255, 1);
}

.resume:hover::before {
  width: 100%;
}

/* Button End */

@media (max-width: 1000px) {
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-me .left {
    width: 100%;
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-me .right h1 {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .about-me .left {
    flex-direction: column;
  }

  .about-me .right h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .about-me .left img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 500px) {
  .about-me .right h1 {
    font-size: 1.3rem;
  }

  .about-me .right p {
    font-size: 0.8rem;
  }
}
